<div class="wrapper">
  <div class="content" id="main-content">
    <div class="content-wrapper">
      <div class="page">
        <div class="page-main">
          <div class="page-title" id="programming">Archive</div>
          <div class="archive-main">
            {% for p in posts %} {% if p.year.length %}
            <span class="archive-header">{{ p.year }}</span>
            {% /if %}
            <div class="archive-item">
              <div class="archive-date">{{ p.date | date:"%B %d, %Y" }}</div>
              <div class="archive-title">
                <a href="{{ p.url }}">{{ p.title }}</a>
              </div>
            </div>
            {% /for %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>