<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
      {% if pageTitle.length %}  
      {{ pageTitle }}
      {% else %}
      {{ siteName }}
      {% /if %}
  </title>
  {% if post.ext_seo_keywords.length %}
  <meta name="keywords" content="{{post.ext_seo_keywords}}" />
  {% /if %}
  {% if post.ext_seo_des.length %}
  <meta name="description" content="{{post.ext_seo_des}}" />
  {% /if %}
  <link href="atom.xml" rel="alternate" title="{{ siteName }}" type="application/atom+xml">
  {% if ext_site_favicon.length %}
  <link rel="bookmark" type="image/x-icon" href="{{ ext_site_favicon }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ ext_site_favicon }}">
  <link rel="icon" type="image/x-icon" href="{{ ext_site_favicon }}">
  {% else %}
  <link rel="bookmark" type="image/x-icon" href="asset/img/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="asset/img/favicon.ico">
  <link rel="icon" type="image/x-icon" href="asset/img/favicon.ico">
  {% /if %}
  <link rel="stylesheet" href="asset/css/style.css">
  <link rel="stylesheet" href="asset/css/tomorrow-night-eighties.css">
  <script src="asset/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link href="asset/css/google-font.css?family=Fira+Sans|Fira+Mono" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <header class="header" id="header">
    <div class="wrapper">
      <header class="content-wrapper menu">
        <div class="menu-home">
          <a href="index.html">{{ siteName }}</a>
        </div>
        <div class="menu-links">
          {% for m in siteMenu %}
          <div class="menu-item{% if pageTitle == m.name %} menu-active{% /if %}">
            <a target="{{ m.target }}" href="{{ m.url }}">{{ m.name }}</a>
          </div>
          {% /for %}
        </div>
      </header>
    </div>
  </header>